<section class='component boxes'>
    <div class='wrapper'>

        <h2 class='titlee'>News & Highlights</h2>

        <div class='boxes-cont'>
            <div class='box'>
                <div class='box-img'>
                    <img src='/img/zebra240.jpg' alt='work1'/>
                </div>
                <a href="#" class='h3 box-header'>Lorem ipsum dolor sit amet</a>
                <p class='box-text'>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            </div>
            <div class='box'>
                <div class='box-img'>
                    <img src='/img/los240.jpg' alt='work2'/>
                </div>
                <a href="#" class='h3 box-header'>Big Lorem ipsum dolor sit amet</a>
                <p class='box-text'>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            </div>
            <div class='box box--text-center'>
                <div class='box-img'>
                    <img src='/img/koliber240.jpg' alt='work3'/>
                </div>
                <a href="#" class='h3 box-header'>Big Lorem ipsum</a>
                <p class='box-text'>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    </div>
</section>