<section class='component commercial'>
    <div class="commercial">
            <img class="commercial_img" src="/img/worldmap.png" alt="World">
            <div class="commercial_header">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

            <div class="commercial_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            <div class="commercial_number">
                <span class="numberbig">78</span><span class="desc">organisation</span>
                <span class="numberbig">2,765</span><span class="desc">testers</span>
                <span class="numberbig">12</span><span class="desc">countries</span>
            </div>
    </div>
    
</section>