<section class='component form' data-video>
    <div class='wrapper'>

        <div class="form_header">Get in touch</div>
        <div class="form_description">If you have questions about purchasing ISV Online, you’re in the right place!</div>

        <form class="form_container" novalidate>
                <div class="form__field">
                <label for='field_name'>First name</label>
                <input required name='field_name' id="field_name" type='text' placeholder='enter Your name...' />
                <span class='form-error-msg'>Popraw dane</span>
                </div>
                <div class="form__field">
                <label for='field_lastname'>Last name</label>
                <input required name='field_lastname' id="field_lastname" type='text' placeholder='Last name' />
                <span class='form-error-msg'>Popraw dane</span>
                </div>
                <label for='field_company'>Company</label>
                <input name='field_company' id="field_company" type='text' />
                <div class="form__field">
                <label for='field_email'>e-mail</label>
                <input required name='field_email' id="field_email" type='email' />
                <span class='form-error-msg'>Popraw dane</span>
                </div>

                <label for='field_tel'>Telephone</label>
                <input name='field_tel' id="field_tel" type='tel' />

                <label for='field_textarea' class="field_textarea_label">YOUR MESSAGE</label>
                <textarea id="field_textarea" class="field_textarea" rows="40" cols="40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua…</textarea>
                <div class="form__field">
                <label for='field_validate'>Prove you’re human. What’s 8+10 ?</label>
                <input name='field_validate' id="field_validate" type='text' />
                <span class='form-error-msg'>Popraw dane</span>
                </div>
                
                <button class='form_btn' type='submit'>SEND</button>

                <div class="form_footer">We hate spam as much as you do! View our <a>Privacy Policy</a>.</div>
            


        </form>
    </div>
</section>