<div id="grid">

  <div class="grid1">
        <a href="#"><p class='g_txt'>Typing & Data Entry</p>
        <img src='/img/g_icoA.png' class= 'g_icon1' alt='icon1'/>
        <img src='/img/gridA.jpg' class= 'g_img' alt='work1'/></a>
    </div>

    <div class="grid2">
        <a href="#"><p class='g_txt'>In-house DeadEnd Development</p>
        <img src='/img/g_icoB.png' class= 'g_icon2' alt='icon2'/>
        <img src='/img/gridB.jpg' class= 'g_img' alt='work2'/></a>
    </div>

    <div class="grid3">
        <a href="#"><p class='g_txt'>Contact Centre</p>
        <img src='/img/g_icoC.png' class= 'g_icon3' alt='icon3'/>
        <img src='/img/gridC.jpg' class= 'g_img' alt='work3'/></a>
    </div>
    
    
    <div class="grid4">
        <a href="#"><p class='g_txt'>MicrosOFF</p>
        <img src='/img/g_icoD.png' class= 'g_icon4' alt='icon4'/>
        <img src='/img/gridD.jpg'class= 'g_img' alt='work4'/></a>
    </div>
</div>