<header class='header' data-js="header">
  

    <div class='wrapper'>
            <ul class='header-nav header-nav-top'>
                    <li>
                        <a href='#'>Twitter</a>
                    </li>
                    <li>
                        <a href='#'>Linkedin</a>
                    </li>
                </ul>
        <div class="main-menu">

            <a href='#' class='header-logo'>
                <img src='/img/logo.png' alt='Dead end'>
            </a>
            
            <ul class='header-nav'>
                <li>
                    <a href='#'>Skill testing</a>
                </li>
                <li>
                    <a href='#'>Training</a>
                </li>
                <li>
                    <a href='#'>Create your own</a>
                </li>
                <li>
                    <a href='#'>About Us</a>
                </li>
                <li>
                    <a href='#'>News</a>
                </li>
            </ul>
            <a  id="contact-us" class="btn" href="#">Contact us</a>
            
        </div>

        <button class='header-menu-btn' data-menu-btn>
            <span></span>
            <span></span>
            <span></span>
        </button>

    
    </div>
</header>