 <section class="component slider">
    <div class="wrapper">
            <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="slider__img">
                            <img class="slider__image" src="/img/slider1.jpg" alt="">
                            </div>
                            <div class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                <div class="slider__footer"><span class="slider__bold">Eliza Kulesza </span> DeadEnd Development Specialist</div>
                                <div class="slider__quote">"</div>
                            </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="slider__img">
                          <img class="slider__image" src="/img/slider2.jpg" alt="">
                          </div>
                          <div class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                              <div class="slider__footer"><span class="slider__bold">Krzysztof Krawczyk </span> DeadEnd Development Specialist</div>
                              <div class="slider__quote">"</div>
                          </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="slider__img">
                          <img class="slider__image" src="/img/slider1.jpg" alt="">
                          </div>
                          <div class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                              <div class="slider__footer"><span class="slider__bold">Eliza Kulesza </span> DeadEnd Development Specialist</div>
                              <div class="slider__quote">"</div>
                          </div>
                    </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                  </div>

    </div>
</section>