.titlee {
    text-align: center;
    font-weight: bold;
}

.boxes{
   &-cont{
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
   }
}

.har {
    border-width: 1px;
    border-style: solid;
    border-color: #858585;
}

.auth{
    text-align: center;
    font-size: 11px;
    color: #b7b7b7;
}

.box{
    display: block;
    padding: 0%;
    margin: 2%;
    flex-basis: 29%;

    &-img{
        overflow: hidden;
        margin-bottom: 2*$space;

        
        
        img{
            vertical-align: middle;
        }
        
        
        &--elastic{
            position: relative;
            padding-bottom: 0%;
            background-color: $color-3;
            
            img{
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        
        &--vcenter{
            img{
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    
    &-text{
        color: $color-2;
        font-size: $font-size-body2;
        
        &--center{
            text-align: center;
        }
    }
    
    &-header{
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: black; 
        
        &--center{
            display: block;
            text-align: center;
        }
    }
}