
.form_header{
    color:#0D70B7;
    font-size:32px;
    text-align:center;
    margin-bottom:25px;

}

.form_description{
    text-align:center;
    font-size:16px;
    width:544px;
    height:65px;
    margin:auto;
    margin-bottom:25px;
}

.form_container{
    width:544px;
    margin:auto;
}
label{
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    color:$grey;
    font-weight: bold;

}

input {
    display: block;
    border: 0;
    background: transparent;
    border-bottom: 2px solid $grey;
    width:100%;
    height:24px;
    margin-top:-5px;
    margin-bottom:25px;
    color: #767676;
    font-family: $font-1;
    font-size:16px;


  }
  ::placeholder { 
  color: $grey;
  font-size:12px;
  }


  .field_textarea {
      width:100%;
      height:161px;
      resize: none;
      padding:32px;
      font-size:16px;
      font-family: $font-1;
      font-weight: bold;
      color:#707070;
      background-color :#F8F8F8;
      border: 1px solid $grey;
      margin-bottom:30px;

  }
  .field_textarea_label{
    display:block;
  }

  .form_btn {
    display: block;
    color: $white;;
    border: 1px solid #0D70B7;
    border-radius: 5px;
    text-transform: uppercase;
    padding: .5*$space $space;
    font-size: 12px;
    font-weight: bold;
    background-color:#7A217F;
    width:160px;
    height:48px;
    margin: 70px auto 30px auto;
    

    &:hover{
        color: #7A217F;
        background-color: #F8F8F8;
    }
  }

  .form_footer{
    color:$grey;
    font-size:12px;
    text-align:center;
    font-family: $font-1;
    font-weight:bold;
  }

  .form-error-msg{
    display: block;
    visibility: hidden;
    position: absolute;
    right:-110px;
    top:20px;
    color: $color-error;
  
}

.form__field{
  position:relative;
  display:block;
  
}