.footer{
    color: #B7B7B7;
    
    &-nav{
        overflow: auto;
        margin-left: -.5*$space;
        margin-right: -.5*$space;
        color: #B7B7B7;

        &-group{
            margin-bottom: $space;
            display: inline-block;
            width: 50%;
            float: left;
            padding-left: .5*$space;
            padding-right: .5*$space;
            &:nth-child(odd){
                clear: left;
            }
            @include min-media($bpoint-desk){
                width: 25%;
                
                &:nth-child(odd){
                    clear: none;
                }
            }

        }
        &-category{
            display: inline-block;
            font-weight: $fw-bold;
            color: #767676;
            margin-top: 0;
            margin-bottom: $space;
        }
    }

    &-copyright{
        font-size: $font-size-body2;
        margin-bottom: $space;
    }
}