#grid{
    overflow: auto;
    position: relative;
    margin-top: 8%;
    margin-bottom: 8%;
}

.grid1, .grid2, .grid3, .grid4 {
    background-color: white;
    border-color: #dadada;
    border-width: 1px;
    border-style: solid;
    width: 50%;
    float: left;
    margin: 0px;
}

.grid1, .grid2 {
    margin-top: 25px;
}
.grid2, .grid3 {
    margin-right: 0%;
}
.grid11, .grid22, .grid33, .grid44 {
    background-color: white;
    border-color: #dadada;
    border-width: 1px;
    border-style: solid;
    float: left;
    margin: 0px;
    margin-top: 0%; 

}
.grid22, .grid33 {
    margin-right: 0%;
}

.g_img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: -1%;
    opacity: 0.3;
    }

    .grid1:hover, .grid2:hover, .grid3:hover, .grid4:hover {
        background-color: rgb(110, 29, 114);
    }

    .g_txt {
    position: relative;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: black;
    z-index: 50;
    margin-top: 8%;
    margin-bottom: 8%; 
    }

    .g_icon1 {
    width: 8%;
    position: sticky; 
    left: 20%; 
    top: 0;
    z-index: 100;
    margin-top: 0%;
    margin-bottom: -6%;
    }
    
    .g_icon2 {
    width: 8%;
    position: sticky; 
    left: 74%; 
    top: 0;
    z-index: 100;
    margin-top: 0%;
    margin-bottom: -6%;
    }

    .g_icon3 {
    width: 8%;
    position: sticky; 
    left: 20%; 
    top: 0;
    z-index: 100;
    margin-top: 0%;
     margin-bottom: -6%;
    }

    .g_icon4 {
    width: 8%;
    position: sticky; 
    left: 74%; 
    top: 0;
    z-index: 100;
    margin-top: 0%;
    margin-bottom: -6%;
    }