.video{
    overflow: hidden;
    margin: 0;
    position: relative;
    border-color: #7A217F;
    border-width: 2px;
    border-style: solid;
    .wrapper{
        position: static;
        padding-bottom:13*$space;
    }
    
    
    &-header{
        position: absolute;
        color: $white;
        top: $space;
        margin-left: 12*$space;;
        
        @include min-media($bpoint-tab){
            top: 7*$space;
        }
    }

    &-controls{
        position: absolute;
        bottom: 7*$space;
        margin-left: 13.8*$space;
        @include min-media($bpoint-tab){
            bottom: 7*$space;
        }

        button{
            color: $white;
            font-size: 2 * $base-unit;
        }

        &-pause{
            .video:not(.is-playing) & {
                display: none;
            }
        }

        &-play{
            .video.is-playing & {
                display: none;
            }
        }
    }

    &-progress{
        position: absolute;
        left: 0;
        bottom: 0;
        height: $base-unit;
        width: 0;
        background-color: $color-4;
    }

    &-cont{
        position: absolute;
        top: 0; left: 0%; right: 0; bottom: 0;

        video{
            height: 70vh;
        }


   }

}
